/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
     font-size: 62.5%;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
background: #ba6c52;
height: 12rem;
display: flex;
justify-content: center;
}


header img{
     height: 12rem;
}

h2{
     font-size: 4rem;
}


.homepageMain{
     height: 80rem;
     background-image: url("../images/vegetables.jpg");
     background-size: cover;
     display: flex;
     font-size: 4rem;
     justify-content: center;
     align-items: center;
     flex-flow: column wrap;
}

.tags{
     padding: 2rem;
     background: white;
     border-radius: 5rem;
     border: none;
     font-size: 2rem;
     background: #87ba52; 
     /* on select become #85a167; */
     color: white;
     cursor: pointer;
}
.search{
     padding: 2rem;
     width: 100rem;
     background: white;
     border: 2px solid gray;
     border-radius: 5rem;
     display: flex;
     justify-content: space-between;
     margin: 2%;
}

.search input{
     flex-basis: 5;
     border: none;
     width: 90rem;
     font-size: 2rem;
}

input:focus{
     outline: none;
}

.search button{
     background: #ba6c52;
     border: none;
     border-radius: 2rem;
     color: white;
     font-size: 2rem;
     padding: 1rem;
}

.hide{
     display: none;
}

.whiteBar{
height: 3rem;
background: #ba6c52;
}

.results{
     height: 80rem;
     background: #170D09;
     color: #d6a898;
}

.results h2{
     text-align: center;
     padding: 3%;
}
.resultsUL{
     display: flex;
     flex-flow: column wrap;
     justify-content: space-between;
     align-items: center;
     font-size: 2rem; 
}

.resultsUL li{
     padding-bottom: 1rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 1030px){
     .search{
          max-width: 60rem;
     }
     .tagsContainer{
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
     }
}

@media all and (max-width: 625px){
     .search{
          max-width: 50rem;
     }
     .search input::placeholder{
          color: transparent;
     }
}

@media all and (max-width: 522px){
     .search{
          max-width: 40rem;
     }
}

@media all and (max-width: 418px){
     .search{
          max-width: 30rem;
     }
}